           @font-face {
             font-family: proxima_regular;
             src: url(../font/proximanova-regular-webfont.woff);
            }

           .icon-dol:before { 
                content: '\e80c'; 
            }

            a#scroll_down {
                font-family: proxima_regular !important;
                z-index:3;
                position: absolute;
                bottom:20px;
                display: block;
                text-align: center;
                font-size: 16px !important;
                color:rgba(255,255,255,0.6);
            }
            a#scroll_down:hover{
                text-decoration: none;    
            }
            a#scroll_down:hover i{
                color:rgba(241,194,214,0.8);  
                opacity: 0.8;    
            }
            a#scroll_down span {
                display: block;
                opacity: 0.6;
            }
            a#scroll_down i {
                font-size: 40px;
                opacity: 0.3;
            }